<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Gerenciador de Tarefas</h1>
    <form method="POST" action="/add">
        <input type="text" name="task_name" placeholder="Nome da Tarefa">
        <button type="submit">Adicionar Tarefa</button>
    </form>
    <h2>Tarefas Pendentes</h2>
    <ul>
        {% for tarefa in tarefas_pendentes %}
            <li>
                <a href="{{ url_for('detalhes_tarefa', task_id=tarefa['task_id']) }}">{{ tarefa['task_name'] }}</a>
                <form method="POST" action="/concluir/{{ tarefa['task_id'] }}">
                    <button type="submit">Concluir</button>
                </form>
                <form method="POST" action="/remover/{{ tarefa['task_id'] }}" onsubmit="return confirmarRemocao(this)">
                    <input type="hidden" name="confirmacao" value="Sim">
                    <input type="hidden" name="motivo" value="">
                    <button type="submit">Remover</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <h2>Tarefas Concluídas</h2>
    <ul>
        {% for tarefa in tarefas_concluidas %}
            <li>
                <a href="{{ url_for('detalhes_tarefa', task_id=tarefa['task_id']) }}">{{ tarefa['task_name'] }}</a>
                <form method="POST" action="/pender/{{ tarefa['task_id'] }}">
                    <button type="submit">Pender</button>
                </form>
                <form method="POST" action="/remover/{{ tarefa['task_id'] }}" onsubmit="return confirmarRemocao(this)">
                    <input type="hidden" name="confirmacao" value="Sim">
                    <input type="hidden" name="motivo" value="">
                    <button type="submit">Remover</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <script>
        function confirmarRemocao(form) {
            let motivo = prompt("Por favor, indique o motivo da remoção:");
            if (motivo !== "") {
                form.elements['motivo'].value = motivo;
                return confirm("Tem certeza que deseja remover esta tarefa?");
            } else {
                alert("Motivo da remoção é obrigatório.");
                return false;
            }
        }
    </script>
</body>
</html>
